* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color:  #131447;
    height: 60px;
    box-shadow: 2px 2px 10px;
}

h1 {
    text-align: center;
    margin-top: 10PX;
    color: white;
}

section {
    margin: 40px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}

nav a {
    all: unset;
    background-color: #131447;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 1px 1px 5px black;
    font-weight: bold;
    color: white;
}
/*
footer {
    background-color: #131447;
    height: 100px;
}
*/