* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #212121;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(44, 44, 44);
    height: 60px;
    padding: 10px;
    color: white;
    box-shadow: 2px 2px 5px black;
}

nav a {
    margin: 3em;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 10px #000000;
    font-weight: bold;
}


#proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 3em;
    margin-inline: 30px;
}

h3 {
    color: white;
    text-align: center;
    margin-top: 8px;
}

hr {
    margin: 10px;
}

.proyecto {
    background-color: rgb(50, 50, 50);
    height: 15em;
    border-radius: 0.5em;
}